body {
	background: url(background.png) center repeat;
    height: 100%;
    width: 100%;
}
.container-fluid {
	background-color: rgba(0,0,0,0.8);
	margin-top: 16%;
	padding: 15px;
}
h3 {
	color: white;
}
label {
	font-size: 24px;
	color: #fff;
}
.input-group {
	margin: 10px;
}